
<!DOCTYPE html>
{%extends 'product.html'%}
{%block body_block%}

<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">
							<div class="product-preview">
								<img src="{{product.image.url}}" alt="">
							</div>

							<div class="product-preview">
								<img src="{{product.image.url}}" alt="">
							</div>

							<div class="product-preview">
								<img src="{{product.image.url}}" alt="">
							</div>

							<div class="product-preview">
								<img src="{{product.image.url}}" alt="">
							</div>
						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">
						<div id="product-imgs">
							<div class="product-preview">
								<img src="{{product.image.url}}" alt="">
							</div>

							<div class="product-preview">
								<img src="{{product.image.url}}" alt="">
							</div>

							<div class="product-preview">
								<img src="{{product.image.url}}" alt="">
							</div>

							<div class="product-preview">
								<img src="{{product.image.url}}" alt="">
							</div>
						</div>
					</div>
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name">{{product.product_name}}</h2>
							<div>


							</div>
							<div>
								<h3 class="product-price">Price: ₹ {{product.price}} </h3>

							</div>
							<p>{{product.specs}}</p>

							<div class="product-options">

							</div>

							<div class="add-to-cart">

								<a href="{%url 'addtocart' product.id%}"class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</a>
							</div>


{% endblock %}












<!--<div class="container">-->
    <!--<div class="row">-->


        <!--<div class="card mb-3 bg-light" style="max-width:1000px;margin-top:10px">-->
            <!--<div class="row g-0">-->
                <!--<div class="col-md-5">-->
                    <!--<img src="{{product.image.url}}" alt="..." style="height:400px;width:250px">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<div class="card-body">-->
                        <!--<h2 class="card-title" style="color:blue"><strong>-->
                             <!--{{product.product_name}}-->
                        <!--</strong></h2>-->
                        <!--<h5 class="card-text">{{product.specs}}</h5><br>-->
                        <!--<h6 class="card-text" style="color:#a83248"><strong>Price: ₹ {{product.price}}</strong></h6>-->
                        <!--<br><br>-->
                        <!--<table>-->
                            <!--<tr >-->
                                <!--<td style="width:200px">-->
                                    <!--<a href="{%url 'addtocart' product.id%}" class="btn btn-warning "-->
                                       <!--style="color:white;font-weight:bold;text-align:center">ADD TO KART</a>-->
                                <!--</td>-->
                                <!--<td style="width:200px">-->
                                    <!--<a href="{%url 'home'%}" class="btn btn-danger " style="color:white;text-align:center;font-weight:bold">Go BACK-->
                                        <!--</a>-->
                                <!--</td>-->
                                <!--<td></td>-->
                                <!--<td></td>-->

                            <!--</tr>-->
                        <!--</table>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<!-->

    <!--</div>-->
<!--</div>-->


<!--</div>-->
<!--</div>-->



